{% for program in programs %}
  <tr>
    <td>{{ program.id }}</td>
    <td>{{ program.name }}</td>
    <td>{{ program.description }}</td>
    <td>{{ program.location }}</td>
    <td>{{ program.get_program_codebase_display }}</td>
    <td>{{ program.last_commit_time }}</td>
    <td>{{ program.last_commit_user }}</td>
    <td style="width: 150px">
      <button type="button"
              class="btn btn-warning btn-sm js-update-program"
              data-url="{% url 'program_update' program.id %}">
        <span class="glyphicon glyphicon-pencil"></span> Edit
      </button>
      <button type="button"
              class="btn btn-danger btn-sm js-delete-program"
              data-url="{% url 'program_delete' program.id %}">
        <span class="glyphicon glyphicon-trash"></span> Delete
      </button>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center bg-warning">No program</td>
  </tr>
{% endfor %}